<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>Grocery List</h1>
    <div id="app">
      <p>{{ message }}</p>
      <input v-model="message">
      <button v-on:click="changeMessage()">Click Me</button>
      <hr>

    <!-- v-if -->
    <p v-if="showInfo">Here is some interesting information</p>
    <button v-on:click="toggleInfo()">Toggle the info</button>

    <hr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- {{ fruits }} -->

    <p>Enter a new fruit here: <input type="text" v-model="newFruit"> <button v-on:click="addFruit()">Add Fruit</button></p>

    <div v-for="fruit in fruits">
      <p>{{ fruit }}</p>
      {{ todos }}
    </div>
    </div>
  </body>
</html>